.header {
	width: 100vw;
	height: 20rem;
	background: url('/public/pattern-bg.png');
	background-size: cover;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.title {
	text-align: center;
	margin: 2rem;
	font-weight: 500;
}
