.header {
	width: 100vw;
	height: 20rem;
	background: url('../public/pattern-bg.png');
	background-size: cover;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.header__title {
	text-align: center;
	margin: 2rem;
	font-weight: 500;
}

.header__input {
	height: 3rem;
	width: 16rem;
	border-radius: 10px 0 0 10px;
	border: none;
	color: var(--black);
	padding: 0.5rem 1rem;
	font-family: inherit;
	font-size: 0.9rem;
}

.header__button {
	width: 3rem;
	height: 3rem;
	border: none;
	border-radius: 0 10px 10px 0;
	background-color: var(--black);
	transform: translateY(1px);
	cursor: pointer;
}

.infobox {
	background-color: white;
	width: 19rem;
	min-height: 12rem;
	margin: 2rem 0 -15rem 0;
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.infobox__section {
	/* border: 1px solid pink; */
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infobox__title {
	color: var(--gray);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.8rem;
}

.infobox__value {
	font-size: 1.6rem;
	margin: 0.3rem;
	color: var(--black);
	font-weight: 500;
}

.leaflet-container {
	z-index: 0;
	width: 100vw;
	height: calc(100vh - 20rem);
}
